<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict>
		<key>VINTAGE_PORT_NOTIFIER_KIND</key>
		<string>0</string>
		<key>LUI_SHOW_SPLASH_SCREEN</key>
		<string>Yes</string>
		<key>LUI_ENABLE_MENU_LAYOUT_MULTISELECT</key>
		<string>Yes</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2017 Steven A. Orth
All Rights Reserved.</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleName</key>
	<string>LTO Flash!</string>
	<key>CFBundleVersion</key>
	<string>Build 2918</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SingleInstanceApplication</string>
	<key>CFBundleDisplayName</key>
	<string>LTO Flash!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.intvfunhouse.ltoflash</string>
	<key>CFBundleIconFile</key>
	<string>LTOFlashApplicationIcon</string>
</dict>
</plist>
