<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="INTV.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <INTV.Shared.Properties.Settings>
            <setting name="LastBrowseFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>NaN,NaN</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1024,768</value>
            </setting>
            <setting name="SortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="SortColumn" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RomListNameColWidth" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="RomListVendorColWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="RomListYearColWidth" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="RomListFeaturesColWidth" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="RomListPathColWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="RomListValidateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RomListSearchForRomsAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRomDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayRomFileNameForTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDetailedErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForAppUpdatesAtLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </INTV.Shared.Properties.Settings>
    </userSettings>
</configuration>