<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="INTV.LtoFlash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <INTV.LtoFlash.Properties.Settings>
            <setting name="MenuLayoutLongNameColWidth" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MenuLayoutShortNameColWidth" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="MenuLayoutManualColWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MenuLayoutSaveDataColWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MenuLayoutWidth" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="ValidateMenuAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchForDevicesAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReconcileDeviceMenuWithLocalMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAdvancedFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastActiveDevicePort" serializeAs="String">
                <value />
            </setting>
            <setting name="RunGCWhenConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticallyConnectToDevices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptToAddRomsToMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddRomsToMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFileSystemDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnablePortLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromptToInstallFTDIDriver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptToImportStarterRoms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptForFirmwareUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerifyVIDandPIDBeforeConnecting" serializeAs="String">
                <value>True</value>
            </setting>
        </INTV.LtoFlash.Properties.Settings>
    </userSettings>
</configuration>