<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="INTV.JzIntvUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="INTV.jzIntvUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <INTV.JzIntvUI.Properties.Settings>
            <setting name="EmulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExecRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GromRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EcsRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultKeyboardConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialKeyboardMap" serializeAs="String">
                <value />
            </setting>
            <setting name="UseEcsKeymapForEcsRoms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplaySize" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value />
            </setting>
            <setting name="MuteAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableIntellivoice" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableEcs" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableJlp" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowMultipleInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joystick0Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick1Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick2Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Joystick3Config" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassicGameController0ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassicGameController1ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandLineMode" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalCommandLineArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCommandLine" serializeAs="String">
                <value />
            </setting>
            <setting name="UseROMFeatureSettingsWithCustomCommandLine" serializeAs="String">
                <value>True</value>
            </setting>
        </INTV.JzIntvUI.Properties.Settings>
        <INTV.jzIntvUI.Properties.Settings>
            <setting name="EmulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExecRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GromRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EcsRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultKeyboardConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvInitialKeyboardMap" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvUseECSMapForECSRoms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JzIntvDisplaySize" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvDisplayMode" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvMuteAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jzIntvEnableMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JzIntvEnableIntellivoice" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvEnableEcs" serializeAs="String">
                <value />
            </setting>
            <setting name="jzIntvEnableJlp" serializeAs="String">
                <value />
            </setting>
            <setting name="jzIntvAllowMultipleInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JzIntvJoystick0Config" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvJoystick1Config" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvJoystick2Config" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvJoystick3Config" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvCgc0ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvCgc1ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvCommandLineMode" serializeAs="String">
                <value />
            </setting>
            <setting name="JzIntvAdditionalCommandLineArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCommandLine" serializeAs="String">
                <value />
            </setting>
            <setting name="UseROMFeatureSettingsWithCustomCommandLine" serializeAs="String">
                <value />
            </setting>
        </INTV.jzIntvUI.Properties.Settings>
    </userSettings>
</configuration>